name: makeRelease

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            rid: linux-x64
            zipSuffix: tar.gz
          - os: windows-latest
            rid: win-x64
            zipSuffix: zip
          - os: macos-latest
            rid: osx-x64
            zipSuffix: tar.gz
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.100-preview.4.22252.9
    - name: Restore local tools
      run: dotnet tool restore
    - name: Publish Windows
      if: matrix.os == 'windows-latest'
      shell: pwsh
      run: ./publish.ps1
    - name: Publish Unix
      if: matrix.os != 'windows-latest'
      run: ./publish.sh
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: dnvm-${{ matrix.rid }}.${{ matrix.zipSuffix }}
         # A file, directory or wildcard pattern that describes what to upload
        path: artifacts/dnvm-*-${{ matrix.rid }}.${{ matrix.zipSuffix }}
  release:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v3
      - name: Display structure of downloaded files
        run: ls -R
      - name: Make Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          draft: true
          files:
            dnvm-*/dnvm-*
  gh-pages:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.100-preview.4.22252.9
      - name: Build web content
        run: dotnet run --project tools/UpdateVersionJson/UpdateVersionJson.csproj
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./artifacts/gh-pages