name: Publish zip files

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            rid: linux-x64
          - os: windows-latest
            rid: win-x64
            exeSuffix: .exe
          - os: macos-latest
            rid: osx-x64
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 8.0.x
    - name: Restore local tools
      run: dotnet tool restore
    - name: Publish Windows
      if: matrix.os == 'windows-latest'
      shell: pwsh
      run: ./publish.ps1
    - name: Publish Unix
      if: matrix.os != 'windows-latest'
      run: ./publish.sh
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
         # Artifact name
         name: dnvm ${{ matrix.rid }}
         # A file, directory or wildcard pattern that describes what to upload
         path: artifacts/bin/dnvm/Release/net7.0/${{ matrix.rid }}/publish/dnvm${{ matrix.exeSuffix }}
